/* ==========================================================================
   /Objects #Icon
   ========================================================================== */

.o-icon {
	display: inline-flex;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
