/* ==========================================================================
   /Objects #Media

   @link http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
   ========================================================================== */

.o-media {
	display: flex;
	align-items: flex-start;
}

.o-media__figure {
	margin-right: var( --space );
}

.o-media__content {
	flex: 1;
}
