<?xml version="1.0"?>
<ruleset name="VatuWP">

	<description>WordPress Coding Standards.</description>

	<config name="minimum_supported_wp_version" value="6.1" />

	<!-- Exclude source code we do not control. -->
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/tools/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/vendor_prefixed/*</exclude-pattern>

	<!-- Ignore empty files. -->
	<rule ref="Internal.NoCodeFound">
		<severity>0</severity>
	</rule>

	<!-- Set default config. Can be overwritten. -->
	<config name="colors" value="1" />
	<arg value="sp" />
	<arg name="parallel" value="8"/>

	<!-- Only test PHP files. -->
	<arg name="extensions" value="php" />

	<!-- Include the WordPress Theme Review ruleset, with options. -->
	<rule ref="WPThemeReview">
		<exclude-pattern>/public/app/mu-plugins/</exclude-pattern>
		<exclude-pattern>/public/app/plugins/</exclude-pattern>
		<exclude name="WPThemeReview.Templates.ReservedFileNamePrefix.ReservedTemplatePrefixFound" />
	</rule>

	<rule ref="WordPress">

		<properties>
			<property name="text_domain" type="array">
				<element value="wordpress" />
			</property>
		</properties>

		<!-- Excludes as we only need to support PHP 7.3+ -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores" />
		<exclude name="WordPress.NamingConventions.ValidHookName.NotLowercase" />
	</rule>

	<!-- Exclude rule for modern development. -->
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>*/src/*</exclude-pattern>
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<!-- Exclude rule for modern development. -->
	<rule ref="WordPress.Files.FileName.NotHyphenatedLowercase">
		<exclude-pattern>*/src/*</exclude-pattern>
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<!-- Include sniffs for PHP cross-version compatibility. -->
	<rule ref="PHPCompatibilityWP">
		<config name="testVersion" value="7.4-" />
	</rule>

</ruleset>
