/**
 * Block: Core/Gallery
 */

.wp-block-gallery {
	gap: var( --wp--custom--theme--gallery--gap ) !important;
}

.wp-block-gallery .wp-element-caption {
	margin-block: var(--wp--custom--spacing--03);
	margin-inline: var(--wp--custom--spacing--04);
	font-family: var( --wp--custom--theme--caption--font-family );
	font-size: var(--wp--custom--theme--caption--font-size);
	font-style:var( --wp--custom--theme--caption--font-style );
}
