/**
 * Block: Core/Button
 */

.wp-block-button.is-style-primary {
	background-color: var( --wp--custom--color--base--black );
	color: var( --wp--custom--color--base--white );
}
.wp-block-button.is-style-primary:hover,
.wp-block-button.is-style-primary:focus {
	background-color: var( --wp--custom--theme--link--active-color );
}

.wp-block-button.is-style-primary .wp-block-button__link,
.wp-block-button.is-style-primary .wp-block-button__link:active,
.wp-block-button.is-style-primary .wp-block-button__link:visited,
.wp-block-button.is-style-primary .wp-block-button__link:link {
	color: var( --wp--custom--color--base--white );
}

.wp-block-button.is-style-primary:hover .wp-block-button__link,
.wp-block-button.is-style-primary:focus .wp-block-button__link {
	text-decoration: none;
}

/* Style: Secondary
   ========================================================================== */

.wp-block-button.is-style-secondary {
	background-color: var( --wp--custom--color--base--white );
	color: var( --wp--custom--color--base--black );
}
.wp-block-button.is-style-secondary:hover,
.wp-block-button.is-style-secondary:focus {
	background-color: var( --wp--custom--theme--link--active-color );
	color: var( --wp--custom--color--base--white );
}

.wp-block-button.is-style-secondary .wp-block-button__link,
.wp-block-button.is-style-secondary .wp-block-button__link:active,
.wp-block-button.is-style-secondary .wp-block-button__link:visited,
.wp-block-button.is-style-secondary .wp-block-button__link:link {
	color: var( --wp--custom--color--base--black );
}

.wp-block-button.is-style-secondary:hover .wp-block-button__link,
.wp-block-button.is-style-secondary:focus .wp-block-button__link {
	text-decoration: none;
	color: var( --wp--custom--color--base--white );
}
