/**
 * Global Style ::-webkit-search-decoration
 *
 * For all customisation to be used across the majority of pages.
 */

/* Reset
 * ========================================================================== */
* {
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	text-decoration-skip-ink: auto;
	font-optical-sizing: auto;
	font-variant-ligatures: common-ligatures no-discretionary-ligatures no-historical-ligatures contextual;
	font-kerning: normal;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	font-style: italic;
	background-repeat: no-repeat;
	background-size: cover;
	shape-margin: 0.75rem;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

strong,
b,
th {
	font-weight: var( --wp--custom--font-weight--bold );
}

input,
button,
textarea,
select {
	font: inherit;
}

q::before {
	content: open-quote;
}

q::after  {
	content: close-quote;
}

/* Language Specific
   ========================================================================== */

/* “Generic English ‘style’” */
:lang(en) > * {
	quotes: '“' '”' '‘' '’' ;
}

/* ‘British “style”’ */
:lang(en-GB) > * {
	quotes: '‘' '’' '“' '”';
}

/* « French “style” » */
:lang(fr) > * {
	quotes: '«?0202F' '?0202F»' '“' '”';
}

/* Pattern: Post Meta
   ========================================================================== */

.single-post .wp-block-post-title {
	margin-block: var( --wp--custom--spacing--06 );
}

.c-post-meta {
	margin-block: var( --wp--custom--spacing--07 );
}

.c-post-meta > div {
	column-gap: var( --wp--custom--spacing--04 );
}

.c-post-meta .wp-block-avatar {
	border-radius: 100%;
	overflow: hidden;
}

.c-post-meta .c-post-meta__details {
	gap:0;
}

.c-post-meta .wp-block-post-author {
	font-size: var( --wp--custom--font-size--body--small );
	font-weight: var( --wp--custom--font-weight--bold );
}

.c-post-meta .wp-block-post-author__name a {
	text-decoration: none;
}

.c-post-meta__info {
	gap: 0.5em;
	font-size: var( --wp--custom--font-size--body--small );
}

/* Pattern: Site Header
   ========================================================================== */
.c-site-header {
	/* Header Background Color. */
}

.c-site-header__navigation .wp-block-navigation-item__content {
	padding-block: var( --wp--custom--spacing--03 ) !important;
}

.c-site-header__navigation .wp-block-navigation__submenu-container {
	padding-block-start: 0 !important;
	padding-inline-start: var( --wp--custom--spacing--04 ) !important;
}

/* Pattern: Site Footer
   ========================================================================== */

.c-site-footer {
	font-size: var( --wp--custom--font-size--body--small );
}

.c-site-footer__container {
	padding-block-start: var( --wp--custom--spacing--07 );
}

@media screen and ( min-width: 560px ) {
	.c-site-footer__content {
		display: flex;
		flex-wrap: wrap;
		gap: var( --wp--custom--spacing--06 );
	}
	.c-site-footer__content > div:nth-child( 1 ) {
		flex: 1 0 100%;
	}
	.c-site-footer__content > div:nth-child( 2 ) {
		flex: 1 0 calc( 33.3333% - var( --wp--custom--spacing--06 ) );
	}
	.c-site-footer__content > div:nth-child( 3 ) {
		flex: 1 0 calc( 33.3333% - var( --wp--custom--spacing--06 ) );
	}
	.c-site-footer__content > div:nth-child( 4 ) {
		flex: 1 0 calc( 33.3333% - var( --wp--custom--spacing--06 ) );
	}
}

@media screen and ( min-width: 1024px ) {
	.c-site-footer__content {
		flex-direction: row;
		flex-wrap: no-wrap;
	}
	.c-site-footer__content > div:nth-child( 1 ) {
		flex: 0 0 40%;
	}
	.c-site-footer__content > div:nth-child( 2 ) {
		margin-block-start: 0;
		flex: 0 0 calc( 20% - var( --wp--custom--spacing--06 ) );
	}
	.c-site-footer__content > div:nth-child( 3 ) {
		margin-block-start: 0;
		flex: 0 0 calc( 20% - var( --wp--custom--spacing--06 ) );
	}
	.c-site-footer__content > div:nth-child( 4 ) {
		margin-block-start: 0;
		flex: 0 0 calc( 20% - var( --wp--custom--spacing--06 ) );
	}
}

.c-site-footer .wp-block-site-title {
	font-size: var( --wp--custom--font-size--heading--xsmall );
	font-weight: var( --wp--custom--font-weight--bold );
}

.c-site-footer__info {
	flex-direction: column-reverse;
	margin-block-start: var( --wp--custom--spacing--07 );
	padding-block-start: var( --wp--custom--spacing--05 );
	padding-block-end: var( --wp--custom--spacing--03 );
	border-top: var( --wp--custom--border-width--thin ) solid currentColor;
}

@media screen and ( min-width: 768px ) {
	.c-site-footer__info {
		flex-direction: row;
	}
}

/* Shame
 * CSS Hacky code that is written to get the release out that needs to be
 * improved at a later time.
 * Please document your code.
   ========================================================================== */

/* Utility: Uppercase
 * ========================================================================== */
.u-uppercase {
	text-transform: uppercase;
}

/* Utility: Small Caps
 * ========================================================================== */
.u-smallcaps {
	font-variant-caps: all-small-caps;
	font-variant-numeric: oldstyle-nums;
}

/* Utility: Position
 * ========================================================================== */
.u-position-relative {
	position: relative;
}

/* Utility: Alignment
 * ========================================================================== */
.u-align-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.u-align-left {
	margin-right: auto !important;
}

.u-align-right {
	margin-left: auto !important;
}
