/* ==========================================================================
   /Settings #Structure
   ========================================================================== */

/* Z-Index
 *
 *  0. Default
 *  1.
 *  2.
 *  3. Fixed Header
 *  4. Model Backdrop
 *  5. Model
 *  6. Popover
 *  7. Tooltip
 *  8.
 *  9.
 * 10.
   ========================================================================== */
:root {

	--z-index-0:    0; /* [0] */
	--z-index-1:   10; /* [1] */
	--z-index-2:   20; /* [2] */
	--z-index-3:   30; /* [3] */
	--z-index-4:   40; /* [4] */
	--z-index-5:   50; /* [5] */
	--z-index-6:   60; /* [6] */
	--z-index-7:   70; /* [7] */
	--z-index-8:   80; /* [8] */
	--z-index-9:   90; /* [9] */
	--z-index-10: 100; /* [10] */

}
