# WordPress Theme

# Ignore generated & task runner files

## Server

.env
access.log
error.log
error_log

## PHP

vendor/*
composer.lock

# Node
.sass-cache
node_modules/*
package-lock.json

# Ignore compiled files
/*.map
/editor.css
/editor.min.css
/style.css
/style.min.css
/assets/css/
